.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}

.icon-details{
    background:url('icons/details.png') no-repeat center center;
}
.icon-manage{
    background:url('icons/1012333.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
	
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
	color:#ffffff;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-zht{
	background:url('icons/zht1.png') no-repeat 6px center;
}
.icon-sbjg{
	background:url('icons/sbjg.png') no-repeat 6px center;
}
.icon-xiazai{
	background:url('icons/dd1.gif') no-repeat center center;
}
.icon-tuichu{
	background:url('icons/tuichu.png') no-repeat center center;
}
.icon-rwgl{
	background:url('icons/rwgl.png') no-repeat 6px center;
}
.icon-bkgl{
	background:url('icons/bkgl.png') no-repeat 6px center;
}
.icon-yhgl{
	background:url('icons/yhgl.png') no-repeat 6px center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-zonghe{
	background:url('icons/search5.png') no-repeat center center;
}
.icon-sc{
	background:url('icons/sc.png') no-repeat center center;
}
.icon-bk{
	background:url('icons/bk.png') no-repeat center center;
}
.icon-jzf{
	background:url('icons/jzf.png') no-repeat center 4px;
}
.icon-xt{
	background:url('icons/xt.png') no-repeat center center;
}
.icon-man1{
	background:url('icons/06.png') no-repeat left center;
}
.icon-rw{
	background:url('icons/rw.png') no-repeat left center;
}
.icon-jk{
	background:url('icons/jk.png') no-repeat left center;
}
.icon-jtp{
	background:url('icons/jtp.png') no-repeat left center;
}
.icon-txc{
	background:url('icons/txc.png') no-repeat left center;
}
.icon-wpc{
	background:url('icons/wpc.png') no-repeat left center;
}
.icon-shouci{
	background:url('icons/shouci.png') no-repeat left center;
}
.icon-pf{
	background:url('icons/pf.png') no-repeat left center;
}
.icon-guiji{
	background:url('icons/guiji.png') no-repeat left center;
}
.icon-yechu{
	background:url('icons/yechu.png') no-repeat left center;
}
.icon-zhouf{
	background:url('icons/zhouf.png') no-repeat left center;
}
.icon-down{
	background:url('icons/dd1.gif') no-repeat left center;
}
.icon-camargroup{
	background:url('icons/camargroup.png') no-repeat left center;
}
.icon-collectpictrue{
	background:url('icons/shouci.png') no-repeat left center;
}.icon-logmanage{
	background:url('icons/calendar.png') no-repeat left center;
}